@font-face {
    font-family: "SpaceGrotesk";
    src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: "SpaceGrotesk";
    overflow-x: hidden;

    padding-top: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;

    margin-bottom: 7rem;
}

nav > h1 {
    font-size: 2rem;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    
}

.nav-list > li {
    margin-right: 1.875rem;
}
.nav-list > li > a {
    z-index: 10;
    width: 50px;
    height: 100%;
}




/***** Top Wrapper *****/

.top_wrapper {
    display: flex;
    padding: 0;
    padding-bottom: 10rem;
    border-bottom: 3px solid #242424;

}

.top-text_wrapper {
    width: 75%;
}

.top-text_wrapper > img {
    position: absolute;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 6.875rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.top-text_wrapper > p {
    color: #D9D9D9;
    width: 60%;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

.style_green {
    letter-spacing: 3px;
    padding-bottom: 15px;
    border-bottom: 3px solid #4EE1A0;
}

.style_green:hover {
    color: #4EE1A0;
}

.top-img-profile {
    position: absolute;
    transform: translate(-25%, -27%);
    z-index: -2;

    width: 27.8125rem;
    height: 45rem;
}

.top-img-circle {
    position: absolute;    
    transform: translate(-135%, 250%);
}

/***** End Top Wrapper *****/


/***** Skill wrapper *****/

.skill_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 5rem;
}

.skill_wrapper > img {
    position: absolute;
    right: -350px;
    bottom: 1.875rem;
}

.skill_content {
    padding-bottom: 3rem;
}
.skill_content > h3 {
    font-size: 48px;
    padding-bottom: 1rem;
}

.skill_content > p {
    color: #D9D9D9;
    font-size: 1.5rem;
}

/***** End Skill wrapper *****/

/***** Projects wrapper *****/
.project_wrapper {
    margin-top: 5rem;
}
.project_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3.125rem;
}

.article_wrapper > article {
    margin-bottom: 50px;
}

.article_wrapper > article > h4 {
    font-size: 1.7rem;
    padding: 1.875rem 0 1rem;
    margin: 0;
}

.article-text_wrapper {
    display: flex;
}

.article-text_wrapper > p {
    margin-right: 20px;
    color: #D9D9D9;
    font-size: 1.5rem;
}

.img-article_wrapper {
    position: relative;
}

.img-article_wrapper > img {
    width: 100%;
    height: auto;
}

.img-overlay_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}



.img-article_wrapper:hover .img-overlay_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  rgba(0, 0, 0, 0.5);
    animation: background-fade-in 0.3s ease-in-out;
}

@keyframes background-fade-in {
    0% {
        background-color:  rgba(0, 0, 0, 0);
    }
    100% {
        background-color:  rgba(0, 0, 0, 0.5);
    }
}

.img-overlay_wrapper > a {
    margin-bottom: 3.125rem;
}
/***** End Projects wrapper *****/


/***** Footer *****/

footer {
    background-color: #979797;
}
footer {
    background-color: #979797;
}

/***** End Footer *****/