@font-face {
    font-family: "SpaceGrotesk";
    src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: "SpaceGrotesk";

    padding: 3.125rem 10rem;
}

nav {
    display: flex;
    justify-content: space-between;

    margin-bottom: 7rem;
}

nav > h1 {
    font-size: 2rem;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    
}

.nav-list > li {
    margin-right: 1.875rem;
}

/***** Top Wrapper *****/

.top_wrapper {
    display: flex;
    padding: 0;
    padding-bottom: 10rem;
    border-bottom: 3px solid #242424;

}

.top-text_wrapper {
    width: 75%;
}

.top-text_wrapper > img {
    position: absolute;
    transform: translate(-50%, -50%);
}

.top-text_wrapper > h2 {
    font-size: 6.875rem;
    font-weight: bold;

    margin-bottom: 3rem;
}

.top-text_wrapper > p {
    color: #D9D9D9;
    width: 60%;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.top-text_wrapper > a {
    text-decoration: none;
    color: white;
}

.style_name {
    border-bottom: 6px solid #4EE1A0;
}

.style_contact {
    letter-spacing: 3px;
    padding-bottom: 15px;
    border-bottom: 3px solid #4EE1A0;
}
.top-img-profile {
    position: absolute;
    transform: translate(-25%, -27%);
    z-index: -2;

    width: 27.8125rem;
    height: 45rem;
}

.top-img-circle {
    position: absolute;    
    transform: translate(-135%, 250%);
}

/***** End Top Wrapper *****/

/***** Skill container *****/

.skill_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 5rem;
}

.skill_content {
    padding-bottom: 3rem;
}
.skill_content > h3 {
    font-size: 48px;
    padding-bottom: 1rem;
}

.skill_content > p {
    color: #D9D9D9;
    font-size: 1.5rem;
}
/***** End Skill container *****/


