/* Font Size */

@font-face {
    font-family: "SpaceGrotesk";
    src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

/***** Variable *****/
:root {
    --fontFamily-heading: 'Space-Grotesk';

    --fontWeight-heading: bold;
    --fontWeight-body: medium;


    --fontSize-XL: 5.5rem;
    --lineHeight-XL: 5.5rem;
    --letterSpacing-XL: -0.15625rem;

    --fontSize-L: 3rem;
    --lineHeight-L: 3.5rem;
    --letterSpacing-L: -0.09375rem;

    --fontSize-M: 1.5rem;
    --lineHeight-M: 2rem;
    --letterSpacing-M: 0;

    --fontSize-body: 1.125rem;
    --lineHeight-Body: 1.75rem;
    --letterSpacing-Body: 0;
    
    --fontSize-link: 1rem;
    --lineHeight-Link: 1.625rem;
    --letterSpacing-Link: 0.143125rem;
    
    --fontSize-input: 1rem;
    --lineHeight-input: 1.625rem;
    --letterSpacing-input: -0.01375rem;

    
    --fontSize-inputAlert: 0.75rem;
    --lineHeight-inputAlert: 1rem;
    --letterSpacing-inputAlert: -0.010625rem;

    --color-background: #151515;
    --color-background-contact: #242424;
    --color-valid-hover: #4EE1A0;
    --color-wrong: #FF6F5B;
    --color-font-main: #D9D9D9;
    --color-font-heading: #FFFFFF;
}

/***** Body *****/
body {
    background-color: var(--color-background);
    font-family: "SpaceGrotesk";
    color: white;
    overflow-x: hidden;
    padding: 2.4375rem 10.625rem 0; 
    margin: 0;   
}

a {
    text-decoration: none;
    color: white;
}

/***** HEADER *****/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h1 {
    font-weight: var(--fontWeight-heading);
    font-size: 2rem;
    margin: 0;
}

.nav-list {
    margin: 0;
    list-style: none;
    display: flex;    
}

.nav-list > li {
    margin-right: 1.875rem;
}

.nav-list > li > a {
    z-index: 10;
    width: 50px;
}

.imgSvg {
    filter: none;    
}

/***** Top Wrapper *****/

.top_wrapper {
    display: flex;
    padding: 7.9375rem 0 14.375rem;
    border-bottom: 3px solid var(--color-background-contact);
}

.top-text_wrapper {
    width: 44.125rem;
}

.top-text_wrapper > h2 {
    font-size: var(--fontSize-XL);
    letter-spacing: var(--letterSpacing-XL);
    font-weight: var(--fontWeight-heading);
    margin: 0 0 3rem;
}

.top-text_wrapper > p {
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-body);
    letter-spacing: var(--letterSpacing-Body);
    color: var(--color-font-main);
    width: 26.0625rem;
    margin-bottom: 3rem;
}

.top-text_wrapper > img {
    position: absolute;
    left: -6.25rem;
    transform: translateY(-45%);
}

.style_name {
    border-bottom: 5px solid var(--color-valid-hover);
}

.style_green {
    letter-spacing: var(--letterSpacing-Link);
    border-bottom: 3px solid var(--color-valid-hover);
    padding-bottom: 1rem;
}

.style_green:hover {
    color: var(--color-valid-hover);
}

.top-img_wrapper {
    position: absolute;
    top: 0;
    right: 10.625rem;
    width: 27.8125rem;
    height: 45rem;
    z-index: -2;    
}

.top-img-profile {
    width: 100%;
    height: auto;
}

.top-img-circle {
    position: absolute;    
    transform: translate(-50%, 400%);
}

/***** Skill wrapper *****/
.skill_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skill_content {
    padding-top: 4.5rem;
}
.skill_content > h3 {
    font-size: var(--fontSize-L);
    font-weight: var(--fontWeight-heading);
    letter-spacing: var(--letterSpacing-L);
    padding-bottom: 1rem;
    margin: 0;
}

.skill_content > p {
    color: var(--color-font-main);
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-body);
    letter-spacing: var(--letterSpacing-Body);
}

.skill_wrapper > img {
    position: absolute;
    right: -23.75rem;
    bottom: -10%;
}

/***** Projects wrapper *****/
.project_wrapper {
    padding: 5.625rem 0 4.375rem;
}

.project_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_title > h2 {
    font-size: var(--fontSize-XL);
    margin: 0;
}

.article_wrapper {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.875rem;
}

.article_wrapper > article {
    height: 30.4375rem;
    margin-bottom: 4.375rem;
}

.article_wrapper > article > h4 {
    font-size: var(--fontSize-M);
    font-weight: var(--fontWeight-heading);
    letter-spacing: var(--letterSpacing-M);
    margin: 20px 0 15px;
}

.article-text_wrapper {
    display: flex;
}

.article-text_wrapper > p {
    color: var(--color-font-main);
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-body);
    letter-spacing: var(--letterSpacing-Body);
    margin: 0 20px 0 0;
}

.img-article_wrapper {
    position: relative;
    height: 25rem;
}

.img-article_wrapper > img {
    border-radius: 5px;
    width: 100%;
    height: 25rem;
}

.img-overlay_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}



.img-article_wrapper:hover .img-overlay_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  rgba(0, 0, 0, 0.8);
    animation: background-fade-in 0.3s ease-in-out;
}

@keyframes background-fade-in {
    0% {
        background-color:  rgba(0, 0, 0, 0);
    }
    100% {
        background-color:  rgba(0, 0, 0, 0.8);
    }
}

.img-overlay_wrapper > a {
    margin-bottom: 3.125rem;
}

/***** CONTACT *****/
.contact-background {
    background-color: var(--color-background-contact);
    width: 100%;
    transform: translateX(-10.625rem);
    padding: 5.25rem 10.625rem 0;
}

.contact_wrapper {
    border-bottom: 2px solid var(--color-font-main);
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 26.1875rem;
}

.contact-text_wrapper {
    width: 26.875rem;
}

.contact-text_wrapper > h3 {
    font-size: var(--fontSize-XL);
    font-weight: var(--fontWeight-heading);
    letter-spacing: var(--letterSpacing-XL);
    margin: 0 0 3rem;
}

.contact-text_wrapper > p {
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-body);
    letter-spacing: var(--letterSpacing-Body);
}

.contact-text_wrapper > img {
    position: absolute;
    bottom: 10%;
    left: -25%;
}

.contactForm {
    position: relative;
    width: 27.8125rem;
    height: 20.375rem;
    overflow: hidden;
}

.contactForm > .field-input, textarea {
    color: var(--color-font-main);
    width: 27.8125rem;
    padding: 2.0625rem 0 1rem 1.5rem;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-font-main);
}

/* desactive la border par défaut */
input:focus {
    outline:  none;
}

textarea:focus {
    outline: none;
}

.contactForm > textarea {
    height: 6.625rem;
}

.display_name{
    display: none;
}

.verif_wrapper {   
    display: flex;
    justify-content: end;
}

.verif-text {
    font-size: var(--fontSize-inputAlert);
    color: var(--color-wrong);
    position: absolute;
}

.verif-img {
    position: absolute;
    transform: translateY(-180%);
}

.send_btn {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    color: var(--color-font-main);

    margin-top: 1.5rem;

    letter-spacing: 3px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--color-valid-hover);
    text-align: end;
}

.send_btn:hover {
    color: var(--color-valid-hover);
}


/***** End CONTACT *****/



/***** Footer *****/

footer {
    width: 100vw;
    transform: translateX(-10.625rem);
    background-color: var(--color-background-contact);
    padding: 5rem 10.625rem 0;
    
}

/***** End Footer *****/