/* Font Size */

@font-face {
    font-family: "SpaceGrotesk";
    src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

/***** Variable *****/
:root {
    --fontFamily-heading: 'Space-Grotesk';

    --fontWeight-heading: bold;
    --fontWeight-body: medium;


    --fontSize-XL: 5.5rem;
    --lineHeight-XL: 5.5rem;
    --letterSpacing-XL: -0.15625rem;

    --fontSize-L: 3rem;
    --lineHeight-L: 3.5rem;
    --letterSpacing-L: -0.09375rem;

    --fontSize-M: 1.5rem;
    --lineHeight-M: 2rem;
    --letterSpacing-M: 0;

    --fontSize-body: 1.125rem;
    --lineHeight-Body: 1.75rem;
    --letterSpacing-Body: 0;
    
    --fontSize-link: 1rem;
    --lineHeight-Link: 1.625rem;
    --letterSpacing-Link: 0.143125rem;
    
    --fontSize-input: 1rem;
    --lineHeight-input: 1.625rem;
    --letterSpacing-input: -0.01375rem;

    
    --fontSize-inputAlert: 0.75rem;
    --lineHeight-inputAlert: 1rem;
    --letterSpacing-inputAlert: -0.010625rem;

    --color-background: #151515;
    --color-background-contact: #242424;
    --color-valid-hover: #4EE1A0;
    --color-wrong: #FF6F5B;
    --color-font-main: #D9D9D9;
    --color-font-heading: #FFFFFF;
}

/***** Body *****/
html {
    overflow-x: hidden;
}

body {
    background-color: var(--color-background);
    font-family: "SpaceGrotesk";
    color: white;
    overflow-x: hidden;
    padding: 2.4375rem 10.625rem 0; 
    margin: 0;   
}

a {
    text-decoration: none;
    color: white;
}

/***** HEADER *****/
.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navbar > h1 {
    font-weight: var(--fontWeight-heading);
    font-size: 2rem;
    letter-spacing: -0.0275rem;
    margin: 0;
}

.nav-list {
    margin: 0;
    list-style: none;
    display: flex;    
}

.nav-item {
    margin-right: 2rem;
}

.nav-link {
    z-index: 10;
    width: 50px;
}

.imgSvg {
    filter: none;    
}

/***** Intro *****/

.intro-section {
    display: flex;
    padding: 7.9375rem 0 14.375rem;
    border-bottom: 3px solid var(--color-background-contact);
    width: 100%;
}

.intro-text {
    width: 65%;
}

.intro-text > h2 {
    font-size: var(--fontSize-XL);
    letter-spacing: var(--letterSpacing-XL);
    font-weight: var(--fontWeight-heading);
    margin: 0 0 3rem;
}

.intro-description {
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-body);
    letter-spacing: var(--letterSpacing-Body);
    color: var(--color-font-main);
    width: 60%;
    margin: 0 0 3rem;
}

.intro-pattern {
    position: absolute;
    left: -6.25rem;
    transform: translateY(-45%);
}

.highlighted-text {
    border-bottom: 5px solid var(--color-valid-hover);
}

.btn-green {
    letter-spacing: var(--letterSpacing-Link);
    border-bottom: 3px solid var(--color-valid-hover);
    padding-bottom: 1rem;
}

.btn-green:hover {
    color: var(--color-valid-hover);
}

.intro-images {
    position: absolute;
    top: 0;
    right: 10.625rem;
    width: 31%;
    z-index: -2;    
}

.intro-profile-img {
    width: 100%;
    height: auto;
}

.intro-circle-img {
    position: absolute;    
    transform: translate(-50%, 400%);
}

/***** Skill wrapper *****/
.skills-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skill {
    padding-top: 4.5rem;
}

.skill-title {
    font-size: var(--fontSize-L);
    font-weight: var(--fontWeight-heading);
    letter-spacing: var(--letterSpacing-L);
    padding-bottom: 1rem;
    margin: 0;
}

.skill-experience {
    color: var(--color-font-main);
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-body);
    letter-spacing: var(--letterSpacing-Body);
}

.skills-section > img {
    position: absolute;
    right: -23.75rem;
    bottom: -10%;
}

/***** Projects wrapper *****/
.projects-section {
    padding: 5.625rem 0 4.375rem;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    font-size: var(--fontSize-XL);
    margin: 0;
}

.project-articles {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.875rem;
}

.project-article {    
    margin-bottom: 4.375rem;
}

.img-project-article {
    position: relative;
}

.img-project-article > img {
    border-radius: 5px;  
    height: auto;
    width: 100%;
}

.image-hover-overlay {   
    position: absolute;
    height: 99%;
    width: 100%;
    top: 0;
    display: none;
}

.image-hover-overlay > a {
    margin-bottom: 3.125rem;
}

.img-project-article:hover .image-hover-overlay {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    align-items: center;
    justify-content: center;
    background-color:  rgba(0, 0, 0, 0.8);
    animation: background-fade-in 0.3s ease-in-out;
}

.project-subtitle {
    font-size: var(--fontSize-M);
    font-weight: var(--fontWeight-heading);
    letter-spacing: var(--letterSpacing-M);
    margin: 20px 0 15px;
}

.article-text-wrapper {
    display: flex;
}

.article-text-wrapper > p {
    color: var(--color-font-main);
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-body);
    letter-spacing: var(--letterSpacing-Body);
    margin: 0 20px 0 0;
}


@keyframes background-fade-in {
    0% {
        background-color:  rgba(0, 0, 0, 0);
    }
    100% {
        background-color:  rgba(0, 0, 0, 0.8);
    }
}

/***** CONTACT *****/
.contact-section {
    background-color: var(--color-background-contact);
    width: 100%;
    transform: translateX(-10.625rem);
    padding: 5.25rem 10.625rem 0;
}

.contact-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-font-main);
}

.contact-text {
    width: 50%;
}

.contact-text > h3 {
    font-size: var(--fontSize-XL);
    font-weight: var(--fontWeight-heading);
    letter-spacing: var(--letterSpacing-XL);
    margin: 0 0 3rem;
}

.contact-text > p {
    font-size: var(--fontSize-body);
    font-weight: var(--fontWeight-body);
    letter-spacing: var(--letterSpacing-Body);
    width: 80%;
}

.contact-circle-img {
    position: absolute;
    bottom: 8%;
    left: -35%;
}

.contact-form {
    position: relative;
    width: 27.8125rem;
    height: 100%;
    overflow: hidden;
}

.contact-form > .field-input, textarea {
    color: var(--color-font-main);
    width: 100%;
    padding: 2.0625rem 0 1rem 1.5rem;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-font-main);
}

/* desactive la border par défaut */
input:focus {
    outline:  none;
}

textarea:focus {
    outline: none;
}

.contact-form > textarea {
    height: 6.625rem;
}

.display_name{
    display: none;
}

.verif_wrapper {   
    display: flex;
    justify-content: end;
}

.verification-text {
    font-size: var(--fontSize-inputAlert);
    color: var(--color-wrong);
    position: absolute;
    transform: translateY(-70%);
}

.verification-text::before, .verification-text::after {
    opacity: 0;
    animation: fade-in 5s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.verification-img {
    position: absolute;
    transform: translateY(-180%);
}

.send-btn {
    color: var(--color-font-main);
    font-weight: var(--fontWeight-heading);
    letter-spacing: 2.1.8125rem;
    position: absolute;
    right: 0;
    background: none;
    border: none;
    border-bottom: 3px solid var(--color-valid-hover);
    margin-top: 1.875rem;
    padding-bottom: 15px;
}


/***** End CONTACT *****/



/***** Footer *****/

footer {
    width: 100%;
    transform: translateX(-10.625rem);
    background-color: var(--color-background-contact);
    padding: 2.9375rem 10.625rem 6.25rem;    
}

.footer-navbar {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    font-size: 2rem;
    letter-spacing: -0.0275rem;
    margin: 0;
}

/***** End Footer *****/

/* Media queries 768px*/

@media (max-width: 768px) {
    body {    
        padding: 1.875rem 1.875rem 0; 
    }
    /***** Header *****/    
    .nav-list > li {
        margin: 0 0 0 2rem;
    }

    /***** End Header *****/
    
    /***** Intro *****/
    .intro-section {
        padding: 4rem 0 60px;        
    }

    .intro-text {
        width: 450px;
    }    

    .intro-pattern {
        position: absolute;
        width: 55%;
        left: -21%;
        transform: translateY(-45%);
    }

    .intro-text > h2 {
        font-size: 72px;
        letter-spacing: -2.05px;
    }

    .tablet-text {
        margin-right: 5rem;
    }

    .intro-description {
        width: 450px;
        margin-bottom: 2rem;
    }

    .intro-images {
        position: absolute;
        top: 0;
        right: 0;
        width: 322px;
        height: 600px;    
    }
    
    .intro-circle-img {
        position: absolute;    
        transform: translate(200%, 365%);
    }
    
    .intro-profile-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    /***** End Intro *****/

    /***** Skills *****/
    .skills-section {
        grid-template-columns: 1fr 1fr;
    }
    
    /***** End Skils *****/

    /***** Article *****/
    .projects-section {
        padding-bottom: 0;
    }

    .project-article {
        display: flex;
        flex-direction: column;
        margin-bottom: 8rem;
    }

    .image-hover-overlay {  
        display: flex; 
        margin-top: 110%;
        height: auto;
        width: auto;
    }
    
    .image-hover-overlay > a {
        background-color: var(--color-background);
        margin: 0 2rem 0 0;
    }
    
    .img-project-article:hover .image-hover-overlay {
        display: block;
        background-color: var(--color-background);    
        animation: none;
    }

    /***** End Article *****/

    /***** Contact *****/
    .contact-section {
        transform: translateX(-1.875rem);
        padding: 0 1.875rem 0;
    }

    .contact-container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding-bottom: 7rem;
    }

    .contact-text {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .contact-text > h3 {
        text-align: center;
        margin: 0;
    }

    .contact-text > p {       
        margin: 0;
        width: 78%;
        text-align: center;
    }

    .send-btn {
        position: relative;
        transform: translateX(200%);
    }

    .contact-circle-img {
        bottom: 5%;
        left: -55%;
    }
    
    /***** End Contact *****/

    /***** Footer *****/
    footer {
        transform: translateX(-1.875rem);
        padding: 2.9375rem 1.875rem;    
    }
    
    /***** End Footer *****/
    
}